<div class="quantity-product">
  <div class="quantity">
    <input type="number" id="quantity" class="item-quantity" name="quantity" value="1" />
    <span class="qty-inner qty-wrapper">

      <span class="qty-up" title="Increase" data-src="#quantity">
        <i class="demo-icon icon-plus"></i>
      </span>

      <span class="qty-down" title="Decrease" data-src="#quantity">
        <i class="demo-icon icon-minus"></i>
      </span>

    </span>
  </div>
</div>