{% include 'product-redirect-template' %}

{% schema %}
  {
    "name": "Product pages default",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_pre_order_button",
        "label": "Show Ask about product",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_vendor",
        "label": "Product vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_availability",
        "label": "Product Availability",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_sku",
        "label": "Product Code - SKU",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_quantity",
        "label": "Inventory Quantity",
        "default": true
      },
      {
        "type": "header",
        "content": "Metafield",
        "info": "Metafield allow you to attach metadata, which is additional information to a store's resources. Install [Advanced Custom Fields](https:\/\/apps.shopify.com\/advanced-custom-field) app to edit content. [More detail](https://help.arenacommerce.com/installation/metafield.html)."
      },
      {
        "type": "checkbox",
        "id": "meta_countdown_timer",
        "label": "Metafields Countdown Timer: c_f.countdown_timer",
        "default": true,
        "info": "Please make sure you config product's compare price to make this label visible [(?)](http:\/\/help.shopify.com\/manual\/products\/promoting-marketing\/sales)"
      },
      {
        "type": "checkbox",
        "id": "meta_description_excerpt",
        "label": "Metafields Description Excerpt: c_f.description_excerpt",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "meta_video",
        "label": "Metafields video: c_f.video_url",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "meta_size_chart",
        "label": "Metafields size chart: c_f.image_size_chart",
        "default": true
      },
      {
        "type": "header",
        "content": "Delivered Time",
        "info": "Working days"
      },
      {
        "type": "checkbox",
        "id": "order_shipping_time",
        "label": "Show delivered time",
        "default": true
      },
      {
        "type": "range",
        "id": "deadline_day",
        "label": "Deadline each day",
        "default": 14,
        "min": 0,
        "max": 23,
        "step": 1,
        "unit": "h"
      },
      {
        "type": "range",
        "id": "delivery_time",
        "label": "Delivery time",
        "default": 2,
        "min": 1,
        "max": 7,
        "step": 1,
        "unit": "d"
      },
      {
        "type": "header",
        "content": "Shipping & Return Popup"
      },
      {
        "type": "page",
        "id": "shipping_return_page",
        "label": "Page to use",
        "info": "Blank to hide"
      },
      {
        "type": "header",
        "content": "Secure image protection"
      },
      {
        "type": "image_picker",
        "id": "secure",
        "label": "image"
      },
      {
        "type": "header",
        "content": "Payment method image"
      },
      {
        "type": "image_picker",
        "id": "payment",
        "label": "image"
      },
      {
        "type": "header",
        "content": "Product Tabs"
      }, 
      {
        "type": "checkbox",
        "id": "show_product_tab",
        "label": "Show product tabs",
        "default": true,
        "info": "To customize your product tabs, please click Add content."
      },
      {
        "type": "color",
        "id": "product_tab_bg_color",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "image_picker",
        "id": "description_image",
        "label": "Image for Description tab"
      },
      {
        "type": "select",
        "id": "product_tab_review",
        "label": "Product Review Position",
        "options": [
          { "label": "Inside the product tabs", "value": "inside" },
          { "label": "Below the product tabs", "value": "below" }
        ],
        "default": "inside"
      }
    ],
    "blocks": [
      {
        "type": "description",
        "name": "Tab - Description",
        "limit": 1,
        "settings": [
          {
           "type": "paragraph",
            "content": "Standard tab are created base on your Product description content. If you'd like unique set of tabs for each product you shoud use heading 5 function"
          },
          {
            "type": "checkbox",
            "id": "multi-tab",
            "label": "Use Multi-tabs with heading 5 tag",
            "default": true,
            "info": "We use heading 5 in Product's description to seperate Multi-tabs, each <h5>Tabs Title</h5> will be considered as content seperator and tabs title"
          } 
        ]
      },
      {
        "type": "page",
        "name": "Tab - Static page",
        "settings": [
          {
          "type": "paragraph",
          "content": "Static tab are created base on Page Content. It's usefull for some content that is same for all the products like Shipping term, Size Guide, and so on"
          },
          {
            "type": "text",
            "id": "page_title",
            "label": "Heading"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Select a Page"
          }
        ]
      },
      {
        "type": "related-product",
        "name": "Related Product",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "related_product_image",
            "label": "Background image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Related items"
          },
          {
            "type": "checkbox",
            "id": "border_line",
            "label": "Heading border line"
          },
          {
            "type": "select",
            "id": "related_product_data",
            "label": "How to select related products",
            "options": [
              { "label": "Same Collection", "value": "collection" },
              { "label": "Same Vendor", "value": "vendors" }
            ],
            "default": "collection"
          },
          {
            "type": "range",
            "id": "item_per_row",
            "label": "Items per row - Desktop",
            "min": 2,
            "max": 6,
            "step": 1,
            "default": 4
          },
          {
            "type": "range",
            "id": "item_per_row_tablet",
            "label": "Items per row - Tablet",
            "min": 2,
            "max": 5,
            "step": 1,
            "default": 3
          },
          {
            "type": "range",
            "id": "item_per_row_mobile",
            "label": "Items per row - Mobile",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
          },
          {
            "type": "range",
            "id": "related_product_limit",
            "label": "Total items",
            "min": 2,
            "max": 18,
            "step": 1,
            "default": 8
          }
        ]
      },
      {
        "type": "super-deals-product",
        "name": "Super deals",
        "limit": 1,
        "settings": [ 
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Super deals"
          },
          {
            "type": "checkbox",
            "id": "border_line",
            "label": "Heading border line"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection item"
          },
          {
            "type": "range",
            "id": "limited",
            "label": "Total items",
            "min": 2,
            "max": 10,
            "step": 1,
            "default": 4
          }
        ]
      },
      {
        "type": "article",
        "name": "Blog posts",
        "limit": 1,
        "settings": [
          {
            "label": "Blog posts 1",
            "id": "blog_posts_1",
            "type": "article"
          },
          {
            "label": "Blog posts 2",
            "id": "blog_posts_2",
            "type": "article"
          }
        ]
      }
    ]
  }
{% endschema %}